*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;  
}
body {
	/*font:18px 'Anonymous Pro', monospace;*/
	/* Oswald / Montserrat Light*/
	font-family: 'Oswald', sans-serif;
}
header{
	height:100vh;
	background: 
    linear-gradient(to bottom right,
      rgb(0, 47, 75, 0.3), 
      rgb(220, 66, 37, 0.1)
    ),
    url("../img/art-city-city-lights-327064.jpg") center/cover no-repeat;
	overflow:hidden;
	display: flex;
    align-items: center;
    justify-content: center;
}
.side
	{
	display: none;
	position: absolute;
	left: 0;
	width:55px;
	height:100vh;
	background-color: #0f1919;
	opacity: 0.85;
	background:  linear-gradient( to right,
	rgba(113, 81, 81, 0.2), 
	rgba(0, 0, 0, 0.4)
	);
	background-color: #0f1919;
	border-right:1px solid #0a241a;	
	color:#e3e3e3;
	}
.side p{
	font-size: 90%;
	position: absolute;
	letter-spacing: 3px;
	bottom:230px;
	left:-176px;
	width:400px;
	transform: rotate(-90deg);
	}
.slogan {
    text-align:center;

    padding-bottom: 3rem;
}
.slogan h1{
    font-size: 1.8rem; 
    padding:8px;
    letter-spacing: 8px;
    color:#fcfcfc;
	font-weight: 300;
	text-shadow:2px 1px #393030;
}
.slogan h2{
    font-size: 1.2rem;
    padding:5px;
    letter-spacing: 5px;
    color:#ffb100;
	font-weight: 300;
	text-shadow:1px 1px #000000;
}
.blink{
    animation: blink 1s infinite;
}
@keyframes blink{
  to{opacity: .0;}
}
nav{
	display: none;
    position: absolute;
    right:5%;
    top:5%;
}
ul{
    font-size: 1.4rem;
}
li{
    display: inline-block;
    margin:0 20px;
}
ul > li > a{
	color: #e3e3e3;
    text-decoration: none;
    letter-spacing: 3px;
    text-shadow:1px 1px #1e1e1e;
}
ul > li > a:hover{
    color:#fffefe;
}
.rewind{
	font-size:2.2rem;
	position:absolute;
	bottom:7%;
	left:50%;
	transform:translateX(-50%);
    animation-delay: 1s;
    text-decoration: none;
}
.rewind i{
    color:#ffb100;
	text-shadow:1px 2px black;
}











@media all and (min-width: 1600px ) {
	
	.slogan h1{
    	font-size: 2.8rem; 

	}
	.slogan h2{
		font-size: 2.2rem;
	}
	.rewind{
	font-size:2.6rem;
	}
		.side
	{
		display: block;
	}
		nav
	{
		display: block;
	}
	.mobile-menu
	{
	display: none;
	}	
}

@media all and (min-width: 1280px)  and (max-width: 1600px) {
	
	.slogan h1{
    	font-size: 2.6rem; 
	}
	.slogan h2{
		font-size: 1.8rem;

	}
	.rewind{
	font-size:2.6rem;
	}
	.side
	{
		display: block;
	}
		nav
	{
		display: block;
	}
	.mobile-menu
	{
	display: none;
	}	
}

@media all and (min-width: 980px) and (max-width: 1280px) {
	.slogan h1{
    	font-size: 2.2rem; 
	}
	.slogan h2{
		font-size: 1.6rem;
	}
		.rewind{
	font-size:2.6rem;
	}
	.side
	{
		display: block;
	}
	nav
	{
		display: block;
	}
	.mobile-menu
	{
	display: none;
	}	
}
@media (min-width: 600px){
	.side
	{
		display: block;
	}

}