header{
	background: url("../img/background-calm-clouds-747964e.jpg");
    background-size: cover;
}
.about{
	background: url("../img/2_4_2500e.jpg");
    background-size: cover;
}
.gallery{
    background: black;
}
.contact{
	background: url("../img/2_4_2500e.jpg");
    background-size: cover;
}
footer{
    background: black;
}
