header{
	background: url("../img/art-city-city-lights-327064.jpg");
    background-size: cover;
}
.about{
	background: url("../img/2_4_2500e.jpg");
    background-size: cover;
}
.description{
	background: url("../img/2_4_2500e.jpg");
    background-size: cover;
}
footer{
	background: url("../img/art-city-city-lights-327064.jpg");
    background-size: cover;
}
