*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;  
}

html {
    scroll-behavior: smooth;
}

body {
    font: 18px 'Raleway', sans-serif; 
}

/* ------------ */
/* H E A D E R  */
/* ----------- */

header{
	height:100vh;
	background: 
    linear-gradient(to bottom,
    rgb(0, 0, 0, 0.4), 
    rgb(0, 0, 0, 0.25)
    ),
    url("../img/background-calm-clouds-747964.jpg")
	center/cover no-repeat;
	overflow:hidden;
	display: flex;
    align-items: center;
    justify-content: center;
}

.side{
	display: none;
	position: absolute;
    top:0;
	left: 0;
	width:55px;
	height:100vh;
	background-color: #0f1919;
	opacity: 0.65;
	background:
    linear-gradient( to right,
	rgba(113, 81, 81, 0.2), 
	rgba(0, 0, 0, 0.4)
	);
	background-color: #0f1919;
	border-right:1px solid #0a241a;	
	color:#e3e3e3;
}

.side p{
	font-size: 90%;
	position: absolute;
	letter-spacing: 3px;
	bottom:230px;
	left:-176px;
	width:400px;
	transform: rotate(-90deg);
}

.slogan {
    text-align:center;
    padding-bottom: 3rem;
}

.slogan h1{
    font-size: 1.7rem; 
    font-weight: 300;
	text-shadow:2px 2px #2a2a2a;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#ffffff;
}

.slogan h2{
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow:1px 1px #000000;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:#ffb100;
    padding:5px;
}

.blink{
    animation: blink 1s infinite;
}

@keyframes blink{
  to{opacity: .0;}
}

nav{
	display: none;
    position: absolute;
    right:5%;
    top:5%;
}

ul{
    font-size: 1.4rem;
}

li{
    display: inline-block;
    margin:0 20px;
}

ul > li > a{
	color: #f7f7f7;
    text-decoration: none;
    letter-spacing: 3px;
    text-shadow:1px 1px #1e1e1e;
}

ul > li > a:hover{
    color:#ffb100;
}

.rewind{
	font-size:2.2rem;
	position:absolute;
	bottom:6%;
	left:50%;
    transform:translateX(-50%);
	animation:rew 1s linear;
    animation-delay: 1s;
    text-decoration: none;
}

.rewind i{
    color:#ffb100;
	text-shadow:1px 2px black;
}

@keyframes rew {
    25% {font-size: 2.4rem}
    50% {font-size: 2.2rem} 
}

/* -------- */
/* M A I N  */
/* -------- */

.spacer {
	padding:3.5rem 0 3.5rem 0;
}

.spacer-top {
	padding-top: 3.5rem;
}

.subtitle {
    font-size: 1.6rem;
    font-weight: 300;
	text-align: center;
    text-transform: capitalize;
    text-shadow:2px 2px #272727;
	letter-spacing: 4px;
	margin:1rem 0;
	color:#ffb100;	
}

/* --------- */
/* A B O U T */
/* --------- */

.about{
    display: flex;  
    justify-content: center;
    background: 
    linear-gradient(to bottom,
    rgb(0, 0, 0, 0.8), 
    rgb(0, 0, 0, 0.6)
    ),
    url("../img/2_4_2500.jpg")
	center/cover no-repeat;
    border-top:1px solid #2e2e2e;
}

.about-content{
	width:85%;
}

.about-text{
    font-size: 1.00rem;
	text-align: justify;
    text-shadow:1px 1px #000000;
    letter-spacing: 1px;
    line-height: 170%;
    margin-bottom: 2rem;
	color:#f0f0f0;
}

.social{
	font-size:3.0rem;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social i
{
    flex: 1 50%;
    text-align: center;
	padding:1.8rem 1.6rem;
	text-shadow: 2px 2px #272727;
}

.social i:hover
{
	background-color: rgb(132, 132, 132,0.2);
    color:#ffb100;
}

/* ------------- */
/* G A L L E R Y */
/* ------------- */

.gallery{
    background: 
    linear-gradient(to bottom,
    rgb(0, 0, 0, 0.1), 
    rgb(0, 0, 0, 0.1)
    ),
    url("../img/zwartevilt.png");
    border-top:1px solid #1d1d1d;
}

.gallery-content{
    width:100%;
    margin-top: 2rem;
}

.photos{
    display: flex;
	flex-wrap: wrap;
}

.photo{
	flex: 1 33%;
    min-width: 300px;
    padding: 0px;
    position: relative;
}

.photo img{
	opacity:0.90;
	height:100%;
    width:100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d09000;
}

.photo:hover .overlay {
    opacity: 0.7;
}

.photo:hover .overlay2 {
    opacity: 0.7;
}

.text {
    color: white;
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* ------------- */
/* C O N T A C T */
/* --------------*/
.contact{
    /*background: 
    linear-gradient(to bottom,
    rgb(0, 0, 0, 0.6), 
    rgb(0, 0, 0, 0.3)
    ),
    url("../img/art-city-city-lights-327064.jpg")
	center/cover no-repeat;*/
    /*background: linear-gradient(to bottom right, #1d1006,#2C170D);*/
    background: 
    linear-gradient(to bottom,
    rgb(0, 0, 0, 0.8), 
    rgb(0, 0, 0, 0.6)
    ),
    url("../img/2_4_2500.jpg")
	center/cover no-repeat;
    border-top:1px solid #2e2e2e;
}

.contact-content{
    margin:0 auto;
    width:95%;
    display: flex;
    flex-wrap: wrap;
}

.column1{
    flex: 1.2;
    min-width: 350px;
    margin: 0 2rem;
}

.adress{
    margin-top: 3rem;
}

.adress > i {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.column2{
    flex: 2;
    min-width: 350px;
    padding: 0 2rem;
}

.center{
    text-align: center;
}

input[type=text], select, textarea {
    font: 1rem 'Raleway', sans-serif; 
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
	font-size: 1.0rem;
	font-weight: 100;
    background-color: #ffffff;
    color: #1c1c1c;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #de9f00;
    color:#171717;
}

.contact-form {
    border-radius: 5px;
    background-color: rgb(54, 54, 54, 0.6);
    padding: 20px;
    font: 16px 'Raleway', sans-serif; 
}
.contact-form label {
    color: #fafafa;
}

/* ------------------ */
/* M A P I F R A M E */
/* ----------------- */

#map{
    height:450px;
    width: 100%;
}

/* ----------- */
/* F O O T E R */
/* ----------- */

footer{
    text-align: center;
    width: 100%;
    padding:6.5em 0;
    background: 
    linear-gradient(to bottom right,
    rgb(0, 0, 0, 0.6), 
    rgb(0, 0, 0, 0.4)
    ),
    url("../img/2_4_2500e.jpg")
	center/cover no-repeat;
}

footer h2{
    font-size: 1.2rem;
    color: #f0f0f0;
    text-transform: none;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;
    margin: 0.5em 0 0.5em 0;
    font-weight: 300;
}

footer small{
    font-size: 0.6em;
    color: #7e7e7e;
}

footer small a:link, footer small a:visited{
    text-decoration: none;
    color: #bebebe;
}

footer small a:hover{
    text-decoration: none;
    color: #ffffff;
}

@media all and (min-width: 1600px ) {
	
	.slogan h1{
    	font-size: 2.4rem;
        margin-bottom: 0.5rem
	}
	.slogan h2{
		font-size: 2.0rem;
	}
	.rewind{
	font-size:2.6rem;
	}
    .side
	{
		display: block;
	}
    nav
	{
		display: block;
	}	
    .about-content{
        width:68%;
    }
    .contact-content{
        width:80%;
    }
    .subtitle {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
    .spacer {
        padding:5rem 0 5rem 0;
    }
    .spacer-top {
        padding-top: 5rem;
    }
    .about-text{
    font-size: 1.4rem;
    }
    .text{
        font-size: 2rem;
    }
	footer h2{
		font-size: 2rem;
		letter-spacing: 4px;
	}
	footer small{
		font-size: 0.8em;
	}
    .social i
    {
        flex: 1;
    }
    input[type=submit] {
	font-size: 1.2rem;
    padding: 16px 35px;
    }
}

@media all and (min-width: 1280px)  and (max-width: 1600px) {
	.slogan h1{
    	font-size: 2.4rem; 
        margin-bottom: 0.5rem
	}
	.slogan h2{
		font-size: 1.8rem;
	}
	.rewind{
        font-size:2.6rem;
	}
	.side
	{
		display: block;
	}
    .side p {
        font-size: 0.8rem;
    }
    nav
	{
		display: block;
	}
    .about-content{
        width:72%;
    }
    .contact-content{
        width:85%;
    }
    .subtitle {
        font-size: 2.2rem;	
    }
    .spacer {
        padding:4rem 0 4rem 0;
    }
    .spacer-top {
        padding-top: 4rem;
    }
    .about-text{
    font-size: 1.4rem;
    }
    .text{
        font-size: 1.8rem;
    }
	footer h2{
		font-size: 1.9rem;
	}
	footer small{
		font-size: 0.8em;
	}
    .social i
    {
        flex: 1;
    }
    input[type=submit] {
	font-size: 1.2rem;
    padding: 16px 35px;
    }
}
@media all and (min-width: 980px) and (max-width: 1280px) {
	.slogan h1{
    	font-size: 2.2rem; 
	}
	.slogan h2{
		font-size: 1.6rem;
	}
    .rewind{
        font-size:2.6rem;
	}
	.side
	{
		display: block;
	}
    .side p {
        font-size: 0.8rem;
    }
	nav
	{
		display: block;
	}
    .about-content{
        width:75%;
    }
    .contact-content{
        width:85%;
    }
    .subtitle {
        font-size: 2rem;	
    }
    .spacer {
        padding:4rem 0 4rem 0;
    }
    .spacer-top {
        padding-top: 4rem;
    }
    .about-text{
    font-size: 1.3rem;
    }
    .text{
        font-size: 1.6rem;
    }
	footer h2{
		font-size: 1.5rem;
	}
	footer small{
		font-size: 0.75em;
	}
    .social i
    {
        flex: 1;
    }
    input[type=submit] {
	font-size: 1.2rem;
    padding: 16px 35px;
    }
}
@media all and (min-width: 600px) and (max-width: 980px) {
	.side
	{
		display: block;
	}
    .side p {
        font-size: 0.8rem;
    }
    .subtitle {
        font-size: 1.8rem;	
    }
    .about-text{
    font-size: 1.2rem;
    }
    .contact-content{
        width:95%;
    }
    .spacer {
        padding:4rem 0 4rem 0;
    }
    .spacer-top {
        padding-top: 4rem;
    }
    .text{
        font-size: 1.6rem;
    }
    .photo{
        min-width: 240px;
    }
	footer h2{
		font-size: 1.4rem;
	}
	footer small{
		font-size: 0.7em;
	}
    .social i
    {
        flex: 1;
    }
    input[type=submit] {
	font-size: 1.2rem;
    padding: 16px 35px;
    }
}
